@import url(https://allfont.net/allfont.css?fonts=pixelsplitter-bold);

html {
  scroll-behavior: smooth;
}

body,
* {
  font-family: "PixelSplitter-Bold", arial;
  margin: 0em;
  padding: 0em;
}
body {
  background: linear-gradient(
    90.66deg,
    #55007c 0.47%,
    #002a7c 99.33%
  ) !important;
}
